# Tell pip to look at the special PyTorch CPU-only package index first
--index-url https://download.pytorch.org/whl/cpu

# Now list the packages. Pip will find the CPU version of torch here.
torch
Flask
pandas
scikit-learn
numpy
flask-cors
